.root {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  min-width: 0;
}
.root > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.root > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-row-gap: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
.column__qbH9K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qbH9K {
    padding-right: 0px;
  }
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.column__hFiTv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hFiTv {
    padding-right: 0px;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    display: flex;
  }
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 44px;
  max-width: 100%;
  margin-left: 40px;
  flex-shrink: 0;
  padding: 0px 8px;
}
.project7 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  color: var(--token-7tb2kdPmDu4Qoo);
  font-weight: 500;
}
.root .project7:hover {
  color: var(--token-KcHnp2MWKqo5Ay);
}
.root .project7:active {
  color: var(--token-7tb2kdPmDu4Qoo);
  text-decoration-line: underline;
}
